@use "../Utils/variables"as *;
@use "../Utils/mixins";


/* Carousel */

.product__carousel {
    position: relative;
    text-align: center;
    color: $white;
    margin: 0rem 4rem;
    @media #{$mq-small}{
        margin: 0 2rem;
    }
    &__number{
        position: absolute;
        top: 85%;
        left: 50%;
        font-size: 1.5rem;
        transform: translate(-50%, -50%);
    }
    &__rightArrow{
        right: 2%;
    }
    &__leftArrow{
        left: 2%;
    }
    &__rightArrow, &__leftArrow{
        position: absolute;
        cursor: pointer;
        top: 42%;
        @media #{$mq-small}{
            height: 3rem;
        }
    }
    &__img{
        @include mixins.object-fit-center;
        width: 100%;
        height: 25.2rem;
        border-radius: 2rem;  
    } 
  }


  
