@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Effects and animations */
.vectorDown {
  transition: transform 0.3s ease-in-out;
}

.vectorUp {
  transform: rotate(360deg);
  transition: transform 0.3s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

/* Colors */
/* Footer */
.footer {
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.footer img {
  margin: 1rem 0;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 2rem 0;
  margin: 0 4rem;
}
@media (max-width: 768px) {
  .navbar {
    margin: 0 2rem;
  }
}
.navbar__img {
  max-height: 75px;
  max-width: 200px;
}
@media (max-width: 768px) {
  .navbar__img {
    max-width: 140px;
  }
}
.navbar__links {
  margin-left: auto;
}
.navbar__links__a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FF6060;
}
@media (max-width: 768px) {
  .navbar__links__a {
    font-size: 12px;
  }
}
.navbar__links__a:hover, .navbar__links__a :active, .navbar__links__a :focus {
  text-decoration: underline;
}
.navbar__links__a.active {
  text-decoration: underline;
}

.Banner {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  margin: 0rem 4rem;
}
@media (max-width: 768px) {
  .Banner {
    margin: 0 2rem;
  }
}
.Banner__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 15rem;
  min-height: 10rem;
  border-radius: 1rem;
  filter: brightness(85%);
}
.Banner__subtitle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .Banner__subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .Banner__subtitle {
    font-size: 2rem;
  }
}

/* collapse */
@media (max-width: 768px) {
  .collapse {
    margin: 1rem 2rem;
  }
}
.collapse__div {
  padding: 0 10px;
  height: 3rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  place-items: center;
  border-radius: 0.5rem;
  background-color: #FF6060;
}
.collapse__div__arrow {
  height: 1rem;
  width: 1.5rem;
}
@media (max-width: 768px) {
  .collapse__div__arrow {
    height: 0.9rem;
    width: 1.2rem;
  }
}
.collapse__div__title {
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .collapse__div__title {
    font-size: 1.1rem;
  }
}
.collapse__div__description {
  margin: 0;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1.5rem;
  color: #FF6060;
  background-color: #F6F6F6;
}
@media (max-width: 768px) {
  .collapse__div__description {
    font-size: 1rem;
  }
}
.collapse__comp {
  transition: opacity 0.3s ease-in-out;
}

/* Collapse Product */
.product__collapse {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2rem 6rem 2rem 4rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .product__collapse {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2rem 0;
    gap: 0;
  }
}

/* Collapse About */
.about__infos .collapse {
  margin: 1rem 6rem;
}
@media (max-width: 1024px) {
  .about__infos .collapse {
    margin: 1rem 4rem;
  }
}
@media (max-width: 768px) {
  .about__infos .collapse {
    margin: 1rem 2rem;
  }
}

/* Carousel */
.product__carousel {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  margin: 0rem 4rem;
}
@media (max-width: 768px) {
  .product__carousel {
    margin: 0 2rem;
  }
}
.product__carousel__number {
  position: absolute;
  top: 85%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}
.product__carousel__rightArrow {
  right: 2%;
}
.product__carousel__leftArrow {
  left: 2%;
}
.product__carousel__rightArrow, .product__carousel__leftArrow {
  position: absolute;
  cursor: pointer;
  top: 42%;
}
@media (max-width: 768px) {
  .product__carousel__rightArrow, .product__carousel__leftArrow {
    height: 3rem;
  }
}
.product__carousel__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 25.2rem;
  border-radius: 2rem;
}

/* Tags */
.product__infos__tags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #FFFFFF;
}
.product__infos__tag {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #FF6060;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  height: 1.3rem;
  margin-right: 0.5rem;
  padding: 1rem;
}
@media (max-width: 768px) {
  .product__infos__tag {
    font-size: 0.9rem;
  }
}

/* host */
.product__host {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .product__host {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: -1rem;
  }
}
.product__host__infos {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .product__host__infos {
    margin-bottom: 0;
  }
}
.product__host__infos__details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: -0.5rem;
}
.product__host__infos__name {
  width: min-content;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .product__host__infos__name {
    font-size: 1rem;
  }
}
.product__host__infos__picture {
  margin-left: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
@media (max-width: 768px) {
  .product__host__infos__picture {
    width: 3rem;
    height: 3rem;
  }
}
.product__host__infos__picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* rating */
.product__rating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.product__rating__rate {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 1rem;
  width: 12rem;
  height: 2rem;
}
@media (max-width: 768px) {
  .product__rating__rate {
    width: 8rem;
    height: 1.5rem;
  }
}
@media (max-width: 400px) {
  .product__rating__rate {
    width: 5rem;
    height: 1rem;
  }
}
.product__rating__rate img {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 768px) {
  .product__rating__rate img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 400px) {
  .product__rating__rate img {
    width: 1rem;
    height: 1rem;
  }
}

/* infos */
.product__infos {
  color: #FF6060;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 2rem;
}
@media (min-width: 768px) {
  .product__infos {
    flex-direction: row;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin: 0 4rem;
  }
}
.product__infos__container {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product__infos__container h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .product__infos__container h1 {
    font-size: 2rem;
  }
}
.product__infos__container h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .product__infos__container h3 {
    font-size: 1rem;
  }
}
.product__infos__title {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Error */
.error {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #FF6060;
  overflow: hidden;
}
.error__title {
  font-size: 25rem;
  margin: 2rem;
}
@media (max-width: 768px) {
  .error__title {
    font-size: 10rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .error__title {
    font-size: 15rem;
  }
}
.error__subtitle {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .error__subtitle {
    font-size: 1.2rem;
  }
}
.error__redirect {
  color: #FF6060;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .error__redirect {
    font-size: 1rem;
  }
}

/* About page */
.about {
  margin: 0 4rem;
  min-height: 71vh;
}
@media (max-width: 768px) {
  .about {
    margin: 0 2rem;
  }
}
.about__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(75%);
  max-height: 15rem;
  border-radius: 2rem;
}
.about__infos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .about__infos {
    margin: 1rem -2rem;
  }
}

.HomeContainer {
  margin: 2rem 4rem;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 3rem;
}
@media (max-width: 768px) {
  .HomeContainer {
    margin: 0rem;
    padding: 2rem;
    border-radius: 0rem;
  }
}
.HomeContainer__cards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  text-align: left;
  border-radius: 2rem;
}
.HomeContainer__cards:hover {
  transform: scale(1.02);
  box-shadow: 5px 0px 20px #FF6060;
}
.HomeContainer__cards__img {
  min-height: 18rem;
  border-radius: 1rem;
  width: 375px;
  filter: brightness(75%);
}
@media (max-width: 964px) {
  .HomeContainer__cards__img {
    width: 100%;
  }
}
.HomeContainer__cards__subtitle {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #FFFFFF;
}
.HomeContainer__cards__subtitle h3 {
  font-weight: 500;
}

.product_container {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.equipments__list {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
