@use "../Utils/variables" as *;
@use "../Utils/mixins" ;

.HomeContainer {
    @media #{$mq-small}{
        margin: 0rem;
        padding: 2rem;
        border-radius: 0rem;
    }
    margin: 2rem 4rem;
    padding: 4rem;
    border-radius: 2rem;
    background-color: $grey;
    @include mixins.flexbox;
    @include mixins.flex-wrap(wrap);
    @include mixins.flexbox;
    gap: 3rem;
    &__cards{
        @include mixins.flexbox;
        position: relative;
        text-align: left;
        border-radius: 2rem;
        &:hover{
            transform: scale(1.02);
            box-shadow: 5px 0px 20px $orange;
        }
        &__img{
            min-height: 18rem;
            border-radius: 1rem;
            width: 360px;
            @include mixins.darkening;
            @media #{$mq-card}{
                width: 100%;
            }
        }
        &__subtitle{
            position: absolute;
            bottom: 8px;
            left: 16px;
            color: $white;
            & h3{
                font-weight: 500;
            }
        }
    }
}